/*Global rules*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
.container {
    width: 80%;
    margin: auto;
}
/* End Global rules*/

/*Start Nav bar*/

#navbar {
    background-color: #122238;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
}
#navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}
#navbar ul li {
    float: left;
    padding: 10px;
}
#navbar ul li a {
    color: #fff;
    text-decoration: none;
}
#navbar ul li.active a,
#navbar ul li a:hover {
    color: #2eaecc;
}
/*End Nav bar*/

/* Start Header */
.header .slider {
    background-color: #eee;
    height: 600px;
    -webkit-background: fixed linear-gradient( rgba(242, 243, 244, 0.67),
    rgba(248, 249, 249, 0.79)), url(image/pencil.jpeg);
    -moz-background: fixed linear-gradient( rgba(242, 243, 244, 0.4),
    rgba(248, 249, 249, 0.45)), url(image/pencil.jpg);
    -o-background: fixed linear-gradient( rgba(242, 243, 244, 0.4),
    rgba(248, 249, 249, 0.45)), url(image/pencil.jpg);
    background: fixed linear-gradient( rgba(242, 243, 244, 0.4),
    rgba(248, 249, 249, 0.45)), url(image/pencil.jpeg);
    background-size: cover;
}
.header .slider .intro {
    padding-top: 250px;
    text-align: center;
    color: #081523;
}
.header .slider .intro h2 {
    margin: 0 auto;
    font-size: 50px;
    text-shadow: 5px 5px 5px #252f31;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 5px 0;
}
/* End Header */

/* Start About Me */
.about-me {
    background-color: #f2f2f2;
    overflow: hidden;
    box-sizing: border-box;
}
.about-me .image {
    float: left;
    width: 30%;
}
.about-me .image img {
    width: 100%;
}
.about-me .info {
    float: left;
    width: 65%;
    margin: 1.5% 2.5% 0 2.5%;
    /*padding-top: 50px;*/
}
.about-me h2, .info h2 {
    margin: 20px 0 20px 40px;
    color: #555;
}
.about-me .info > p {
    margin: 0 0 10px 40px;
}
.about-me .info p {
    line-height: 1.5;
    color: #888;
}
/* End About Me */

.skillList img {
    max-width: 150px;
}
.skillList figure {
    max-width: 400px;
    border: thin silver solid;
    margin: 0.1em;
    padding: 0.5em;
    background-color: rgb(236, 240, 241);
}
.shine {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
}
/* The "shine" element */
.shine:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(230, 227, 227, 0.17);
    background: linear-gradient( to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%);
}
/* Hover state - trigger effect */
.shine:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}
/* Active state */
.shine:active:after {
    opacity: 0;
}

/* Start Resume */
.resume {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
.resume h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
}
.resume p {
    line-height: 1.5;
    color: #666;
    padding: 0 40px;
}
.resume button {
    margin-top: 15px;
}
/* End Resume */

/* Start My Education */
.my-education {
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-education .main {
    width: 50%;
    margin-right: 5%;
    float: left;
}
.my-education .main h2 {
    margin: 25px 0 20px 40px;
}
.my-education .main p {
    margin: 0 0 10px 40px;
}
.my-education .exp {
    width: 45%;
    float: left;
}
.my-education .exp h3 {
    margin: 73px 0 10px 0;
}
.my-education .exp span {
    display: block;
    margin-bottom: 10px;
}
.my-education .exp span {
    background-color: #2dcc70;
    display: inline-block;
    color: #fff;
    padding: 3px 6px;
    font-size: 0.9em;
}
/* End My Education */

/* Start Portfolio */

.portfolio {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.portfolio h2 {
    padding: 20px 0;
}
.portfolio p {
    padding: 10px 0 30px 0;
}
.portfolio figure figcaption {
    font-size: .75em;
}
.portfolio-item:hover {
    transition: 0.5s;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.9);
}
.portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 25px;
}
.portfolio-item .portfolio-caption h4 {
    color: #fff;
    text-transform: none;
    margin: 0;
}
/*End Portfolio */

/* Start Contact Me */
.contact {
    background-image: url("image/contact1.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 200px 0;
}
#contact {
    color: grey;
    font-weight: 500;
    background-color: #d4e2f9;
}
#contact h1 {
    color: white;
}
#contact a:visited {
    color: pink;
}
/* End Contact Me */

@media screen and (max-width: 766px) {
 #nav {
     display: none;
    }
.navbar {
    background-color: #154360;
    }
#navbar ul {
    list-style:none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}
#navbar ul li {
    float: left;
    padding: 0;
}
#navbar ul li a {
    color: #fff;
    text-decoration: none;
    display:block;
    color: white;
/*    text-align: left;*/
    padding: 2px;;
    text-decoration: none;
}
#navbar ul li.active a,
#navbar ul li a:hover {
    color: #2eaecc;
}
.about-me .image {
    display: none;
    }
.about-me .info,
.about-me .info .hobbies .content {
    width: 95%;
    }
.my-education .main,
.my-education .exp {
    width: 95%;
    padding: 0;
    margin: 0;
    }
.my-education .main .paragrph,
.my-education .exp .paragrph {
    width: 100%;
    margin: 20px 0;
    }
.my-education .main h2,
.my-education .exp h3 {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    }
.my-education hr {
    margin: 20px 0;
    width: 100%;
    }
.my-education .exp hr {
    margin: 0 auto;
    width: 50%;
    }
#about:before {
        display: block;
        content: " ";
        height: 90px;
        visibility: hidden;
    }
#portfolio:before {
        display: block;
        content: " ";
        height: 100px;
        visibility: hidden;
    }
#resume:before {
        display: block;
        content: " ";
        height: 80px;
        visibility: hidden;
    }
}

@media screen and (min-width: 768px) {
    #nav {
        display: none;
    }
    /*The below will not allow the navbar to cut part of the section when scroll jumping*/
    #about:before {
        display: block;
        content: " ";
        height: 90px;
        visibility: hidden;
    }
    #portfolio:before {
        display: block;
        content: " ";
        height: 90px;
        visibility: hidden;
    }
    #resume:before {
        display: block;
        content: " ";
        height: 90px;
        visibility: hidden;
    }
    
}
